<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="internet-menu" label="Internet">
		<item label="Firefox">
			<action name="Execute">
				<command>
					firefox
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Filezilla">
			<action name="Execute">
				<command>
					filezilla
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Opera">
			<action name="Execute">
				<command>
					opera-developer
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="multimedia-menu" label="Multimedia">
		<item label="VLC">
			<action name="Execute">
				<command>
					vlc
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="office-menu" label="Office">
		<item label="OpenOffice Writer">
			<action name="Execute">
				<command>
					oowriter
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="OpenOffice Calc">
			<action name="Execute">
				<command>
					oocalc
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="OpenOffice Impress">
			<action name="Execute">
				<command>
					ooimpress
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="OpenOffice Draw">
			<action name="Execute">
				<command>
					oodraw
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="OpenOffice Math">
			<action name="Execute">
				<command>
					oomath
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="system-menu" label="System">
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>
					obconf
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Openbox Menu Editor">
			<action name="Execute">
				<execute>
					obmenu
				</execute>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart Openbox">
			<action name="Restart"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="Applications"/>
		<menu id="internet-menu"/>
		<menu id="multimedia-menu"/>
		<menu id="office-menu"/>
		<separator label="System"/>
		<menu id="system-menu"/>
		<separator/>
		<item label="Switch User">
			<action name="Execute">
        <execute>
          /usr/sbin/lxdm -c USER_SWITCH
        </execute>
				<prompt>
					Are you sure you want to switch user?
				</prompt>
			</action>
		</item>
		<item label="Log Out">
			<action name="Exit">
				<prompt>
					Are you sure you want to log out?
				</prompt>
			</action>
		</item>
	</menu>
</openbox_menu>
